.notification {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.notification + .notification {
  margin-top: 1rem;
}

.notification.success {
  border: 2px solid #6ec67a;
  color: #6ec67a;
  background-color: #def6e1;
  font-weight: 600;
}

.notification.error {
  border: 2px solid lightcoral;
  color: lightcoral;
  background-color: #ffe7e7;
  font-weight: 600;
}
