.notification {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.notification + .notification {
  margin-top: 1rem;
}

.notification.success {
  border: 2px solid CornflowerBlue;
  color: CornflowerBlue;
  background-color: #d8e5f6;
  font-weight: 600;
}

.notification.error {
  border: 2px solid lightcoral;
  color: lightcoral;
  background-color: #ffe7e7;
  font-weight: 600;
}
