.products__header {
  grid-column: 1 / -1;
  width: 100%;
  text-align: center;
}

.products__header em {
  color: #333;
  font-style: normal;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product__info h3 {
  font-size: 1.9rem;
}

.product__info a:link,
.product__info a:visited {
  text-decoration: none;
  color: MediumAquamarine;
}

.product__info a:hover,
.product__info a:active {
  color: #1b8e72;
}

.category {
  display: block;
  color: #97a7a4;
  font-size: 1.7rem;
}

.product__price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #333;
}

.product__photo {
  position: relative;
}

.product__photo::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.product__photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.product__photo a:hover img,
.product__photo a:active img {
  transform: scale(1.02);
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
}

.product__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__tags {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag a:link,
.tag a:visited {
  font-size: 1.3rem;
  line-height: 2rem;
  background-color: #97a7a4;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.tag a:hover,
.tag a:active {
  background-color: #616f6c;
  cursor: pointer;
}

/* MEDIA QUERIES
----------------------------------- */
@media screen and (min-width: 480px) {
  .product__info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem 2.5rem;
  }
}

@media (min-width: 1200px) {
  .products {
    max-width: 1300px;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
  }
}
